In [63]:
# Importamos las librerias necesarias
import pandas as pd
import numpy as np

In [64]:
# Extraccion de los datos de los distintos csv
amazon = pd.read_csv(r"D:\Desktop\GIT\PI01-Data-Engineering\Datasets\amazon_prime_titles-score.csv")
disney= pd.read_csv(r"D:\Desktop\GIT\PI01-Data-Engineering\Datasets\disney_plus_titles-score.csv")
hulu= pd.read_csv(r"D:\Desktop\GIT\PI01-Data-Engineering\Datasets\hulu_titles-score (2).csv")
netflix= pd.read_csv(r"D:\Desktop\GIT\PI01-Data-Engineering\Datasets\netflix_titles-score.csv")

In [65]:
#Transformación de los datos.
#Generar campo id con la primer letra del nombre de la plataforma seguido del campo show_id
amazon. insert (loc = 0 , column = 'id', value= "a"+ amazon['show_id'])
disney. insert (loc = 0 , column = 'id', value= "d"+ disney['show_id'])
hulu. insert (loc = 0 , column = 'id', value= "h"+ hulu['show_id'])
netflix. insert (loc = 0 , column = 'id', value= "n"+ netflix['show_id'])

In [51]:
#2- Reemplazar valores nulos en el campo rating por "G"
amazon['rating'].fillna('G', inplace=True)
disney['rating'].fillna('G', inplace=True)
hulu['rating'].fillna('G', inplace=True)
netflix['rating'].fillna('G', inplace=True)

In [53]:
# 3-Convertir las fechas en formato AAAA-mm-dd
amazon['date_added'] = pd.to_datetime(amazon['date_added'])
disney['date_added'] = pd.to_datetime(disney['date_added'])
hulu['date_added'] = pd.to_datetime(hulu['date_added'])
netflix['date_added'] = pd.to_datetime(netflix['date_added'])

In [55]:
# Convertir los campos de texto a minúscula
col=["type","title","director","cast","country","rating","duration","listed_in", "description"]

for i in col:
    amazon[i]=amazon[i].str.lower()
    disney[i]=disney[i].str.lower()
    hulu[i]=hulu[i].astype(str)
    hulu[i]=hulu[i].str.lower()
    netflix[i]=netflix[i].str.lower()

In [56]:
# Unificar el valor season 
amazon['duration'].replace("seasons","season", inplace=True, regex=True)
disney['duration'].replace("seasons","season", inplace=True, regex=True)
hulu['duration'].replace("seasons","season", inplace=True, regex=True)
netflix['duration'].replace("seasons","season", inplace=True, regex=True)

# Separar la columna duration en 2 nuevas columnas duration_int y duration_type 
amazon[['duration_int','duration_type']]=amazon.duration.str.split(' ',expand=True)
disney[['duration_int','duration_type']]=disney.duration.str.split(' ',expand=True)
hulu[['duration_int','duration_type']]=hulu.duration.str.split(' ',expand=True)
netflix[['duration_int','duration_type']]=netflix.duration.str.split(' ',expand=True)

#Cambiar el tipo de dato para la columna duration_int
amazon['duration_int'] = amazon['duration_int'].astype('int64')
disney['duration_int'] = disney['duration_int'].astype('int64')

In [57]:
#Para cambiar el tipo de dato para la columna duration_int en hulu es necesario reemplazar los valores 'nan'
hulu['duration_int'].replace("nan","1", inplace=True, regex=True)
hulu['duration_int'] = hulu['duration_int'].astype('int64')

In [58]:
#Para cambiar el tipo de dato para la columna duration_int en Netflix es necesario reemplazar los valores nulos
netflix['duration_int'].fillna('1', inplace=True)
netflix['duration_int'] = netflix['duration_int'].astype('int64')

In [60]:
#Apilar los dataframes
data = pd.concat([amazon, disney,hulu,netflix], axis=0)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 8806
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             22998 non-null  object
 1   show_id        22998 non-null  object
 2   type           22998 non-null  object
 3   title          22998 non-null  object
 4   director       17809 non-null  object
 5   cast           20750 non-null  object
 6   country        12952 non-null  object
 7   date_added     13444 non-null  datetime64[ns]
 8   release_year   22998 non-null  int64
 9   rating         22998 non-null  object
 10  duration       22995 non-null  object
 11  listed_in      22998 non-null  object
 12  description    22998 non-null  object
 13  score          22998 non-null  int64
 14  duration_int   22998 non-null  int64
 15  duration_type  22516 non-null  object
dtypes: datetime64[ns](1), int64(3), object(12)
memory usage: 3.0+ MB

In [62]:
data.to_csv('data.csv', index=False , encoding='utf-8') #Exportamos el csv que usaremos en la siguente etapa